
#bg-header {
    background-image: url('git_bootstrap_les_chefs/images/banner1.jpg');
    background-size: cover;
    width: 100%;
    height:100vh;
    position: relative;
    

}
#pt {
    padding-top: 20%;
    font-family: 'Courgette', cursive;
}
.upper {
    text-transform: uppercase;
    font-size: 72px;
}
.redColor {
    text-transform: uppercase;
    color: #c42d40;
    font-size: 72px;
}
.normaltxt {
    text-transform: lowercase;
    font-size: 72px;
}
h1 {
    color: white;
}
body {
    background-image: url('git_bootstrap_les_chefs/images/main_bg.jpg');
    width: 100%;
    height: 100%; 
}
.titre{
    font-size: 36px;
    color: #000;
    text-transform: none;
}
h2 {
    font-family: 'Courgette';
}
.redColor2 {
    text-transform: uppercase;
    color: #c42d40;
    font-size: 50px;
}
.icone {
    width: 40px !important;
    height: 40px !important;
}
.font {
    font-family: 'Courgette';
}
.no-padding{
    padding: 0 0 !important;
}
.ico{
    font-size: 60px;
}
.cercle1 {
    border: 5px solid #eaeaea;
}
.couleur-r{
    color: #c42d40;
}
.couleur-g{
    color: gray;
}
.margin-t {
    margin-top: -44px;
}
.font1 {
    font-size: 20px;
}
.poz{
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
    background-image: url('git_bootstrap_les_chefs/images/bottom_decoration_img.png');
    
}
#bg-client {
    background-image: url('git_bootstrap_les_chefs/images/testimonials_background.jpg');
    background-size: cover;
    width: 100%;
}
.icone-contact {
    font-size: 40px;
}
.ico-f{
    font-size: 80vh;
    color: white;
}
ul {
    list-style-type:none
}
.bg-footer {
    background-image: url('git_bootstrap_les_chefs/images/footer_background.jpg');
    width: 100%;
    background-size: cover;
    position: relative;
    
}
.si-f {
    font-size: 14px;
}
.bg-red {
    background-color: #c42d40;
}
.bg-verre {
    background-image: url('git_bootstrap_les_chefs/images/book_table_bg.jpg');
    height: 72vh;
}
.poz-2{
    position: absolute;
    top: 0;
    height: 10px;
    width: 100%;
    background-image: url('git_bootstrap_les_chefs/images/footer_bottom_decoration_img.png');
    
}